#ftable {
    width: 1fr;
    height: 100%;
}

#infopane {
    width: 50%;
    outline-top: hkey $primary;
    background: $panel;
}

#finfo {
    background: $boost;
    height: 14;
    width: 1fr;
    box-sizing: content-box;
}

#mpv {
    display: none;
    height: 20%;
    width: 1fr;
    content-align: center middle;
}

#ftextlog {
    height: 1fr;
    width: 1fr;
}

#filter_input {
    width: 1fr;
    display: none;
}

Notification {
    dock: bottom;
    layer: notification;
    width: auto;
    margin: 2 4;
    padding: 1 2;
    background: $background;
    color: $text;
    height: auto;

}
